body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
.results {
  color: grey;
  font-family: verdana;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.25;
  width: 190px;
}
.location {
  color: grey;
  font-family: verdana;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.25;
  z-index: 5000;
}


.leaflet-popup-content-wrapper {
  color: white;
  font-family: monospace;
  width: 340px;
  height: auto;
  background-color: red;
}

.leaflet-popup-tip {
 background: red;
}

.leaflet-popup-content {
  width: auto;
  padding: 12 px;
  word-break:break-word;
}